<div>
    <h2 ng-i18next>avAdmin.activityLog.title</h2>

    <p class="text-muted">
      <span ng-i18next>avAdmin.activityLog.intro</span>
      <a href="{{helpurl}}" class="learn-more" target="_blank" ng-i18next>
        avAdmin.learnMore
      </a>
    </p>

    <div av-admin-alerts></div>

    <div class="affix-placeholder"></div>
    <h4
      class="header-block"
      av-affix-top-offset="50"
      affix-placeholder=".affix-placeholder">
      <span
        class="glyphicon glyphicon-chevron-right"
        aria-hidden="true">
      </span>
      <span ng-i18next>avAdmin.activityLog.manage</span>
      <button class="btn btn-default" ng-click="reloadActivity()"><i class="fa fa-refresh"></i></button>

      <div class="input-group search pull-right col-xs-3">
        <input
          type="text"
          class="form-control"
          ng-model="filterStr"
          placeholder="{{'avAdmin.activityLog.filter' | i18next}}">
        <span class="input-group-btn">
          <button
            class="btn btn-default"
            type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </h4>
    <table
      class="table data-table"
      infinite-scroll="loadMoreActivity()"
      infinite-scroll-distance="0">
      <thead>
        <tr>
          <th class="small-col text-right">
            <div
              av-column-filter-int
              filter-options-var="filterOptions"
              filter-prefix="activity__id"
              filter-i18n="avAdmin.activityLog.tableColumn.idColumnHeader">
            </div>
          </th>
          <th class="small-col text-right">
            <div
              av-column-filter-int
              filter-options-var="filterOptions"
              filter-prefix="activity__executer__id"
              filter-i18n="avAdmin.activityLog.tableColumn.executerIdColumnHeader">
            </div>
          </th>
          <th class="small-col text-right">
            <div
              av-column-filter-int
              filter-options-var="filterOptions"
              filter-prefix="activity__receiver__id"
              filter-i18n="avAdmin.activityLog.tableColumn.receiverIdColumnHeader">
            </div>
          </th>
          <th class="small-col text-right">
            <div
              av-column-filter-datetime
              filter-options-var="filterOptions"
              filter-prefix="activity__created"
              filter-i18n="avAdmin.activityLog.tableColumn.creationDateColumnHeader">
            </div>
          </th>
          <th ng-i18next>
            avAdmin.activityLog.tableColumn.actionColumnHeader
          </th>
          <th ng-i18next>
            avAdmin.activityLog.tableColumn.commentColumnHeader
          </th>
        </tr>
      </thead>
      <tbody ng-if="!reloadingActivity">
        <tr ng-repeat="obj in activity">
          <td class="small-col">
            {{obj.id}}
          </td>
          <td class="small-col">
            {{obj.executer_id}}
          </td>
          <td class="small-col">
            {{obj.receiver_id}}
          </td>
          <td class="small-col">
            {{obj.created| amUtc | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}
          </td>
          <td class="description-col">
            <div ng-if="obj.action_name === 'authevent:create'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.authevent.create
            </div>
            <div ng-if="obj.action_name === 'authevent:callback'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.authevent.callback
            </div>
            <div ng-if="obj.action_name === 'authevent:edit'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.authevent.edit
            </div>
            <div ng-if="obj.action_name === 'authevent:start:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.startError
            </div>
            <div ng-if="obj.action_name === 'authevent:stop:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.stopError
            </div>
            <div ng-if="obj.action_name === 'authevent:suspend:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.suspendError
            </div>
            <div ng-if="obj.action_name === 'authevent:resume:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.resumeError
            </div>
            
            <div ng-if="obj.action_name === 'authevent:start:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.startSuccess
            </div>
            <div ng-if="obj.action_name === 'authevent:stop:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.stopSuccess
            </div>
            <div ng-if="obj.action_name === 'authevent:suspend:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.suspendSuccess
            </div>
            <div ng-if="obj.action_name === 'authevent:resume:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.resumeSuccess
            </div>

            <div ng-if="obj.action_name === 'authevent:start_voting:scheduled'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                new_event_date: obj.metadata.new_event_date,
                new_task_id: obj.metadata.new_task_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
              })avAdmin.activityLog.action.authevent.startVotingScheduled
            </div>
            <div ng-if="obj.action_name === 'authevent:start_voting:revoked'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                old_event_date: obj.metadata.old_event_date,
                old_task_id: obj.metadata.old_task_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
              })avAdmin.activityLog.action.authevent.startVotingRevoked
            </div>
            <div ng-if="obj.action_name === 'authevent:end_voting:scheduled'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                new_event_date: obj.metadata.new_event_date,
                new_task_id: obj.metadata.new_task_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
              })avAdmin.activityLog.action.authevent.endVotingScheduled
            </div>
            <div ng-if="obj.action_name === 'authevent:end_voting:revoked'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                old_event_date: obj.metadata.old_event_date,
                old_task_id: obj.metadata.old_task_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
              })avAdmin.activityLog.action.authevent.endVotingRevoked
            </div>


            <div ng-if="obj.action_name === 'authevent:start'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.start
            </div>
            <div ng-if="obj.action_name === 'authevent:stop'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.stop
            </div>
            <div ng-if="obj.action_name === 'authevent:suspend'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.suspend
            </div>
            <div ng-if="obj.action_name === 'authevent:resume'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.resume
            </div>
            <div ng-if="obj.action_name === 'authevent:tally'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.tally
            </div>
            <div ng-if="obj.action_name === 'authevent:tally:started'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.tally_started
            </div>
            <div ng-if="obj.action_name === 'authevent:set-authenticate-otl-period'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.set_authenticate_otl_period
            </div>
            <div ng-if="obj.action_name === 'authevent:virtual-tally:success'" ng-i18next>
              [i18next:html]({
                event_id: obj.event_id,
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.virtual_tally_success
            </div>
            <div ng-if="obj.action_name === 'authevent:virtual-tally:error'" ng-i18next>
              [i18next:html]({
                event_id: obj.event_id,
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.virtual_tally_error
            </div>
            <div ng-if="obj.action_name === 'authevent:tally:error'" ng-i18next>
              [i18next:html]({
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.tally_error
            </div>
            <div ng-if="obj.action_name === 'authevent:tally:error-no-votes'" ng-i18next>
              [i18next:html]({
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.tally_error_no_votes
            </div>
            <div ng-if="obj.action_name === 'authevent:tally:error-during-tally'" ng-i18next>
              [i18next:html]({
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.tally_error_during_tally
            </div>
            <div ng-if="obj.action_name === 'authevent:calculate-results:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.calculate_results_success
            </div>
            <div ng-if="obj.action_name === 'authevent:calculate-results:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.calculate_results_error
            </div>
            <div ng-if="obj.action_name === 'authevent:publish-results:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.publish_results_success
            </div>
            <div ng-if="obj.action_name === 'authevent:publish-results:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.publish_results_error
            </div>
            <div ng-if="obj.action_name === 'authevent:unpublish-results:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.unpublish_results_success
            </div>
            <div ng-if="obj.action_name === 'authevent:unpublish-results:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.unpublish_results_error
            </div>
            <div ng-if="obj.action_name === 'authevent:allow-tally:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.allow_tally_success
            </div>
            <div ng-if="obj.action_name === 'authevent:allow-tally:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event]
              })avAdmin.activityLog.action.authevent.allow_tally_error
            </div>
            <div ng-if="obj.action_name === 'authevent:tally:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.tally_success
            </div>
            <div ng-if="obj.action_name === 'authevent:delete'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.authevent.delete
            </div>
            <div ng-if="obj.action_name === 'authevent:archive'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.authevent.archive
            </div>
            <div ng-if="obj.action_name === 'authevent:unarchive'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.authevent.unarchive
            </div>
            <div ng-if="obj.action_name === 'authevent:set-public-candidates:success'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                make_public: obj.metadata.make_public,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.set_public_candidates_success
            </div>
            <div ng-if="obj.action_name === 'authevent:set-public-candidates:error'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                make_public: obj.metadata.make_public,
                event_id: obj.event_id,
                child_election: election.childrenElectionNames[obj.metadata.auth_event],
                metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.authevent.set_public_candidates_error
            </div>


            <div ng-if="obj.action_name === 'user:activate'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.user.activate
            </div>
            <div ng-if="obj.action_name === 'user:deactivate'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.user.deactivate
            </div>
            <div ng-if="obj.action_name === 'user:generate-auth-code'" ng-i18next>
            [i18next:html]({
              executer_username: obj.executer_username,
              executer_id: obj.executer_id,
              receiver_username: obj.receiver_username,
              receiver_id: obj.receiver_id,
              event_id: obj.event_id,
            })avAdmin.activityLog.action.user.generate-auth-code
            </div>
            <div ng-if="obj.action_name === 'user:successful-login'" ng-i18next>
            [i18next:html]({
              executer_username: obj.executer_username,
              executer_id: obj.executer_id,
              receiver_username: obj.receiver_username,
              receiver_id: obj.receiver_id,
              event_id: obj.event_id,
              child_election: election.childrenElectionNames[obj.metadata.auth_event]
            })avAdmin.activityLog.action.user.successful-login
            </div>
            <div ng-if="obj.action_name === 'user:send-auth'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.user.send-auth
            </div>
            <div ng-if="obj.action_name === 'user:register'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.user.register
            </div>
            <div ng-if="obj.action_name === 'user:added-to-census'" ng-i18next>
            [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                receiver_username: obj.receiver_username,
                receiver_id: obj.receiver_id,
                event_id: obj.event_id,
                metadata: stringify(obj.metadata)
            })avAdmin.activityLog.action.user.added-to-census
            </div>
            <div ng-if="obj.action_name === 'user:deleted-from-census'" ng-i18next>
            [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                metadata: stringify(obj.metadata)
            })avAdmin.activityLog.action.user.deleted-from-census
            </div>
            <div ng-if="obj.action_name === 'user:deleted-voted-from-census'" ng-i18next>
              [i18next:html]({
                  executer_username: obj.executer_username,
                  executer_id: obj.executer_id,
                  event_id: obj.event_id,
                  metadata: stringify(obj.metadata)
              })avAdmin.activityLog.action.user.deleted-voted-from-census
            </div>
            <div ng-if="obj.action_name === 'user:reset-voter'" ng-i18next>
              [i18next:html]({
                  executer_username: obj.executer_username,
                  executer_id: obj.executer_id,
                  receiver_username: obj.receiver_username,
                  receiver_id: obj.receiver_id,
                  event_id: obj.event_id,
                  before: stringify(obj.metadata.trimmed_user_before),
                  after: stringify(obj.metadata.trimmed_user_after),
              })avAdmin.activityLog.action.user.reset-voter
            </div>
            <div ng-if="obj.action_name === 'user:authenticate'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.user.authenticate
            </div>
            <div ng-if="obj.action_name === 'user:authenticate-otl'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.user.authenticate-otl
            </div>
            <div ng-if="obj.action_name === 'user:resend-authcode'" ng-i18next>
            [i18next:html](obj)avAdmin.activityLog.action.user.resend-authcode
            </div>


            <div ng-if="obj.action_name === 'ballot-box:create'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                ballot_box_id: obj.metadata.ballot_box_id,
                ballot_box_name: obj.metadata.ballot_box_name
              })avAdmin.activityLog.action.ballotBox.create
            </div>
            <div ng-if="obj.action_name === 'ballot-box:delete'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                ballot_box_id: obj.metadata.ballot_box_id,
                ballot_box_name: obj.metadata.ballot_box_name
              })avAdmin.activityLog.action.ballotBox.delete
            </div>


            <div ng-if="obj.action_name === 'tally-sheet:create'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                ballot_box_id: obj.metadata.ballot_box_id,
                ballot_box_name: obj.metadata.ballot_box_name,
                tally_sheet_id: obj.metadata.tally_sheet_id,
              })avAdmin.activityLog.action.tallySheet.create
            </div>
            <div ng-if="obj.action_name === 'tally-sheet:delete'" ng-i18next>
              [i18next:html]({
                executer_username: obj.executer_username,
                executer_id: obj.executer_id,
                event_id: obj.event_id,
                ballot_box_id: obj.metadata.ballot_box_id,
                ballot_box_name: obj.metadata.ballot_box_name,
                tally_sheet_id: obj.metadata.tally_sheet_id,
                action_id: obj.id
              })avAdmin.activityLog.action.tallySheet.delete
            </div>
          </td>
          <td>
            <div ng-if="!!obj.metadatacomment">
                {{obj.metadatacomment}}
            </div>
            <div ng-if="!obj.metadatacomment">-</div>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr ng-if="!loading && !reloadingActivity && filterStr.length > 0 && activity.length === 0">
          <td class="wide text-muted" colspan="6" ng-i18next>
            avAdmin.activityLog.filteredEmptyResults
          </td>
        </tr>
        <tr ng-if="loading">
          <td
            class="wide text-muted"
            colspan="{{election.census.extra_fields.length + 4}}">
            <i class="fa fa-cog fa-spin fa-sw"></i>
            <span ng-i18next>loading</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-if="showSuccessAction">
      <button
        ng-click="goNext(admin.successAction())"
        ng-if="!election.id"
        class="btn btn-block btn-success"
        ng-i18next>
        next
      </button>
    </div>

    <div ng-if="!showSuccessAction">
      <button
        ng-click="goNext(admin.create())"
        ng-if="!election.id"
        class="btn btn-block btn-success"
        ng-i18next>
        next
      </button>
    </div>

</div>
