<ul class="nav nav-pills nav-stacked sidebar">
  <li 
    role="presentation" 
    class="head" 
    ng-class="{active:state=='admin.tasks'}"
    ng-if="isAdmin"
  >
    <a ui-sref="admin.tasks()" ng-i18next="avAdmin.sidebar.tasks">
    </a> 
  </li>
  <li 
    role="presentation" 
    class="head" 
    ng-class="{active:state=='admin.elections'}"
  >
    <a ui-sref="admin.elections()" ng-i18next="avAdmin.sidebar.elections">
    </a> 
  </li>
  
  <li role="presentation" class="sub1" ng-if="hasPerms(['create'])">
    <a
      ui-sref="admin.new()">
      <i class="fa-fw fa fa-plus-circle">
      </i>
      <span ng-i18next="avAdmin.sidebar.newel">
      </span>
    </a>
    <a
      ng-if="!!has_draft && !isEditingDraft()" 
      ng-click="loadDraft()">
      <i class="fa-fw fa fa-pencil-square-o">
      </i>
      <span class="capitalize-draft" ng-i18next="avAdmin.elections.draft">
      </span>
    </a>
    <input
      type="file"
      id="side-import-file"
      class="hidden"
      aria-hidden="true"
      onchange="angular.element(this).scope().adminImportFile(this)"/>
    <a ng-click="adminImport()">
      <i class="fa-fw fa fa-upload"></i> 
      <span ng-i18next="avAdmin.sidebar.import"></span>
    </a>
  </li>

  <ul class="nav nav-pills nav-stacked" ng-if="current">
    <li role="presentation" class="head">
      <a ui-sref="admin.dashboard({id:current.id})">
        <span ng-if="current.title" ng-i18next="avAdmin.sidebar.currentel">
        </span>
        <span class="label label-success">
          {{ current | customI18n : 'title' |truncate:20 }}
        </span>
      </a>
    </li>
    <li 
      role="presentation"
      class="sub1"
      ng-class="{active:state=='admin.dashboard'}"
      ng-if="current.id"
    >
      <a ui-sref="admin.dashboard({id:current.id})">
        <i class="fa-fw fa fa-dashboard"></i>
        <span ng-i18next="avAdmin.sidebar.dashboard"></span>
      </a>
    </li>

    <div 
      class="nav nav-pills nav-stacked" 
      ng-repeat="l in sidebarlinks"
      ng-if="('adminFields' !== l.name || !!hasAdminFields) && (!l.permsFunc || l.permsFunc())"
    >
      <li 
        role="presentation" 
        class="sub1" 
        ng-class="{active:state == 'admin.'+p.name}" 
        ng-repeat="p in l.plugins" 
        ng-if="!!p.sidebarlink"
      >
        <a 
          id="admin-sidebar-{{p.link}}" 
          ui-sref="{{ p.link+'({id:current.id})'}}"
        >
          <span ng-if="p.menu.html" ng-bind-html="p.menu.html()"></span>
          <span ng-if="!p.menu.html">
              <i class="fa-fw fa fa-{{ p.menu.icon }}" ng-if="p.menu.icon"></i>
              <span ng-i18next>{{ p.menu.text }}</span>
          </span>
        </a>
      </li>

      <li 
        role="presentation"
        class="sub1"
        ng-class="{active:state == 'admin.'+l.name}"
      >
        <a ui-sref="{{ 'admin.'+l.name+'({id:current.id})' }}">
          <i class="fa-fw fa fa-{{ l.icon }}"></i>
          <span ng-i18next="avAdmin.sidebar.{{ l.name }}"></span>
        </a>
      </li>
    </div>
  </ul>

  <!-- plugins -->
    <li 
      role="presentation"
      ng-class="{active:state == 'admin.'+p.name, head:p.head, sub1:p.sub1}"
      ng-repeat="p in plugins.list" ng-if="!p.sidebarlink"
    >
      <a ui-sref="{{ p.link }}">
        <span ng-if="p.menu.html" ng-bind-html="p.menu.html()"></span>
        <span ng-if="!p.menu.html">
            <i class="fa-fw fa fa-{{ p.menu.icon }}" ng-if="p.menu.icon"></i>
            <span ng-i18next>{{ p.menu.text }}</span>
        </span>
      </a>
    </li>
  <!-- endof plugins -->
</ul>
