<div class="question">
    <div class="row short q-title" ng-click="toggleQuestion($index)">
        <div class="col-sm-10">
            <span
              class="glyphicon glyphicon-chevron-down"
              ng-if="!q.active"
              aria-hidden="true">
            </span>
            <span
              class="glyphicon glyphicon-chevron-up"
              ng-if="q.active"
              aria-hidden="true">
            </span>
            {{ q.title|truncate:200 }}
        </div>
        <div class="col-sm-2 text-right buttons">
            <i ng-click="delQuestion($index)" class="fa fa-times fa-sw" ng-if="electionEditable()"></i>
        </div>
    </div>

    <!-- question form -->
    <form class="row form form-horizontal qform" role="form" name="qform{{$index}}" ng-if="q.active">
        <div class="col-xs-12">

            <!-- title -->
            <div
              av-abstract-setting
              short-value="{{ q.title }}"
              is-disabled="{{ !electionEditable() }}"
              for="title"
              title="avAdmin.basic.title.label"
              description="avAdmin.basic.title.placeholder"
              help-path="election/question-title/">
                <input
                  id="title"
                  class="form-control"
                  type="text"
                  ng-disabled="!electionEditable()"
                  ng-i18next="[placeholder]avAdmin.basic.title.placeholder"
                  ng-model="q.title"/>
            </div>

            <!-- description -->
            <div
              av-abstract-setting
              short-value="{{ q.description }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.basic.description.label"
              for="desc"
              description="avAdmin.basic.description.placeholder"
              help-path="election/question-description/">
                <textarea
                  id="desc"
                  class="form-control"
                  ng-disabled="!electionEditable()"
                  ng-i18next="[placeholder]avAdmin.basic.description.placeholder"
                  ng-model="q.description"></textarea>
            </div>

            <!-- voting system -->
            <div
              av-abstract-setting
              short-value="{{ q.tally_type }}"
              is-disabled="{{ !electionEditable() }}"
              title="avCommon.votingSystem"
              for="voting"
              description="avCommon.votingSystem"
              help-path="election/question-voting-system/">
                <div class="radio" ng-repeat="o in vsystems">
                    <label>
                        <input
                          type="radio"
                          name="voting"
                          value="{{ o }}"
                          ng-disabled="!electionEditable()"
                          ng-model="q.tally_type"/>
                        <span ng-i18next="avCommon.votings.{{ o }}"></span>
                    </label>
                </div>
            </div>

            <!-- number of winners -->
            <div
              av-abstract-setting
              short-value="{{ q.num_winners }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.questions.winners.label"
              for="winners"
              description="avAdmin.questions.winners.placeholder"
              help-path="election/question-number-winners/">
                    <div class="input-group col-xs-2">
                      <span class="input-group-btn">
                        <button
                        class="btn btn-default"
                        type="button"
                        ng-disabled="!electionEditable()"
                        ng-click="incOpt($index, 'num_winners', -1)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                      </span>
                     <div
                       av-int-field
                       int-data="q.num_winners">
                     </div>
                      <input
                        type="text"
                        name="num_winners"
                        min=1 step=1
                        class="form-control"
                        ng-disabled="!electionEditable()"
                        ng-model="q.num_winners"
                        ui-keypress="{
                          37: 'incOpt($index, \'num_winners\', -1, $event)',
                          38: 'incOpt($index, \'num_winners\', 1, $event)',
                          39: 'incOpt($index, \'num_winners\', 1, $event)',
                          40: 'incOpt($index, \'num_winners\', -1, $event)'
                        }"
                        ui-validate="{
                          numoptions: 'validateMaxNumOptions($value)',
                          'min': '$value >= 1'}"
                        ui-validate-watch="'q.answers.length'"
                        required/>
                      <span class="input-group-btn">
                        <button
                          class="btn btn-default"
                          type="button"
                          ng-disabled="!electionEditable()"
                          ng-click="incOpt($index, 'num_winners', 1)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                    <div class="col-xs-10 input-error">
                      <span
                        class="error text-brand-danger"
                        ng-show="!!qform{{$index}}.num_winners.$error.numoptions"
                        ng-i18next>
                        [i18next]({winners: q.num_winners, cands: q.answers.length})avAdmin.questions.winners.numOptionsError
                      </span>
                      <span
                        class="error text-brand-danger"
                        ng-show="!!qform{{$index}}.num_winners.$error.min"
                        ng-i18next>
                        avAdmin.questions.winners.minError
                      </span>
                    </div>
            </div>

            <!-- Minimum -->
            <div
              av-abstract-setting
              short-value="{{ q.min }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.questions.min.label"
              for="min"
              description="avAdmin.questions.min.placeholder"
              help-path="election/question-minimum-selected/">
                    <p class="text-muted" ng-i18next> avAdmin.questions.min.placeholder </p>
                    <div class="input-group col-xs-2">
                      <span class="input-group-btn">
                        <button
                          class="btn btn-default"
                          type="button"
                          ng-disabled="!electionEditable()"
                          ng-click="incOpt($index, 'min', -1)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                      </span>
                      <div
                        av-int-field
                        int-data="q.min">
                      </div>
                      <input
                        type="text"
                        name="min"
                        min=0
                        step=1
                        class="form-control"
                        ng-model="q.min"
                        ui-keypress="{
                          37: 'incOpt($index, \'min\', -1, $event)',
                          38: 'incOpt($index, \'min\', 1, $event)',
                          39: 'incOpt($index, \'min\', 1, $event)',
                          40: 'incOpt($index, \'min\', -1, $event)'
                        }"
                        ui-validate="{
                          numoptions: 'validateMinMax($value)',
                          'min': '$value >= 0'}"
                        ui-validate-watch="'q.max'"
                        ng-disabled="!electionEditable()"
                        required/>
                      <span class="input-group-btn">
                        <button
                          class="btn btn-default"
                          type="button"
                          ng-disabled="!electionEditable()"
                          ng-click="incOpt($index, 'min', 1)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                    <div class="col-xs-10 input-error">
                      <span
                        class="error text-brand-danger"
                        ng-show="!!qform{{$index}}.min.$error.numoptions"
                        ng-i18next>
                        [i18next]({min: q.min, max: q.max})avAdmin.questions.min.maxError
                      </span>
                      <span
                        class="error text-brand-danger"
                        ng-show="!!qform{{$index}}.min.$error.min"
                        ng-i18next>
                        avAdmin.questions.min.minError
                      </span>
                    </div>
            </div>

            <!-- Maximum -->
            <div
              av-abstract-setting
              short-value="{{ q.max }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.questions.max.label"
              for="max"
              description="avAdmin.questions.max.placeholder"
              help-path="election/question-max-selected/">
                    <p class="text-muted" ng-i18next> avAdmin.questions.max.placeholder </p>
                    <div class="input-group col-xs-2">
                      <span class="input-group-btn">
                        <button
                          class="btn btn-default"
                          type="button"
                          ng-disabled="!electionEditable()"
                          ng-click="incOpt($index, 'max', -1)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                      </span>
                      <div
                        av-int-field
                        int-data="q.max">
                      </div>
                      <input
                        type="text"
                        id="max"
                        name="max"
                        min=0
                        step=1
                        class="form-control"
                        ng-disabled="!electionEditable()"
                        ui-keypress="{
                          37: 'incOpt($index, \'max\', -1, $event)',
                          38: 'incOpt($index, \'max\', 1, $event)',
                          39: 'incOpt($index, \'max\', 1, $event)',
                          40: 'incOpt($index, \'max\', -1, $event)'
                        }"
                        ui-validate="{
                          numoptions: 'validateMaxNumOptions($value)',
                          min: '$value >= 1'}"
                        ui-validate-watch="'q.answers.length'"
                        ng-model="q.max"
                        required/>
                      <span class="input-group-btn">
                        <button
                          class="btn btn-default"
                          type="button"
                          ng-disabled="!electionEditable()"
                          ng-click="incOpt($index, 'max', 1)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                    <div class="col-xs-10 input-error">
                      <span
                        class="error text-brand-danger"
                        ng-show="!!qform{{$index}}.max.$error.numoptions"
                        ng-i18next>
                        [i18next]({max: q.max, cands: q.answers.length})avAdmin.questions.max.numOptionsError
                      </span>
                      <span
                        class="error text-brand-danger"
                        ng-show="!!qform{{$index}}.max.$error.min"
                        ng-i18next>
                        [i18next]avAdmin.questions.max.minError
                      </span>
                    </div>
            </div>

            <!-- layout -->
            <div
              ng-if="layouts.length > 0"
              av-abstract-setting
              short-value="{{ q.layout }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.questions.layout.label"
              for="layout"
              description="avAdmin.questions.layout.placeholder"
              help-path="election/question-layout/">
                    <p class="text-muted" ng-i18next>
                        avAdmin.questions.layout.placeholder
                    </p>
                    <div class="radio" ng-repeat="o in layouts">
                        <label>
                            <input
                              type="radio"
                              name="layout"
                              ng-disabled="!electionEditable()"
                              value="{{ o }}"
                              ng-model="q.layout"/>
                            <span ng-i18next="avAdmin.questions.layout.{{ o }}"></span>
                        </label>
                    </div>
            </div>

            <!-- Shuffling categories policy-->
            <div
              av-abstract-setting
              short-value="{{ q.extra_options.shuffle_categories }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.shuffling_policy.categories_label"
              for="shuffling-categories-policy"
              description=""
              help-path="election/question-shuffle-categories/">
                    <div class="checkbox">
                        <label>
                            <input
                              type="checkbox"
                              id="shuffling-categories-policy"
                              name="shuffling-categories-policy"
                              value="false"
                              ng-disabled="!electionEditable()"
                              ng-model="q.extra_options.shuffle_categories"/>
                            <span ng-i18next>avAdmin.shuffling_policy.categories_label_text</span>
                        </label>
                    </div>
            </div>

            <!-- Shuffling options policy -->
            <div
              av-abstract-setting
              short-value="{{ internal.shuffle_opts_policy }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.shuffling_policy.options_label"
              for="shuffleoptions"
              description=""
              help-path="election/question-shuffle-options/">
                    <div class="radio" ng-repeat="o in lshuffleoptions">
                        <label>
                            <input
                              type="radio"
                              name="shuffleoptions"
                              value="{{ o }}"
                              ng-disabled="!electionEditable()"
                              ng-model="internal.shuffle_opts_policy"/>
                            <span ng-i18next="avAdmin.shuffling_policy.{{ o }}"></span>
                        </label>
                    </div>
            </div>

            <!-- Shuffling category list -->
            <div
              ng-if="'shuffle-some' === internal.shuffle_opts_policy"
              av-abstract-setting
              short-value="{{ internal.shuffling_cat_list }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.shuffling_policy.list_label"
              for="title"
              description="avAdmin.shuffling_policy.list_muted"
              help-path="election/question-shuffle-category-list/">
                    <p class="text-muted" ng-i18next>
                        avAdmin.shuffling_policy.list_muted
                    </p>
                    <input
                      id="title"
                      class="form-control"
                      type="text"
                      ng-disabled="!electionEditable()"
                      ng-i18next="[placeholder]avAdmin.shuffling_policy.list_placeholder"
                      ng-model="internal.shuffling_cat_list"/>
            </div>

            <!-- show points-->
            <div
              av-abstract-setting
              short-value="{{ q.extra_options.show_points }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.show_points_policy.label"
              for="show-points-policy"
              description=""
              help-path="election/question-show-points/">
                    <div class="checkbox">
                        <label>
                            <input
                              type="checkbox"
                              id="show-points-policy"
                              name="show-points-policy"
                              value="false"
                              ng-disabled="!electionEditable()"
                              ng-model="q.extra_options.show_points"/>
                            <span ng-i18next>avAdmin.show_points_policy.text</span>
                        </label>
                    </div>
            </div>

            <!-- Candidates -->
            <div
              av-abstract-setting
              short-value="{{ q.answers }}"
              is-disabled="{{ !electionEditable() }}"
              title="avAdmin.questions.candidates.label"
              for="candidates"
              description=""
              help-path="election/question-candidates/">
                    <p class="text-muted">
                        <span ng-i18next>
                          avAdmin.questions.candidates.placeholder
                        </span>
                        <span
                          class="text-brand-danger"
                          ng-show="q.answers.length === 0"
                          ng-i18next>
                          avAdmin.questions.candidates.minError
                        </span>
                    </p>

                    <div class="col-sm-12">

                        <div ng-switch="q.layout">
                          <div
                            dnd-list="q.answers"
                            ng-switch-when="simple"
                            dnd-drop="recalculateAnswerIds(item, index)">
                            <div
                              ng-repeat="answer in q.answers">
                              <div
                                dnd-draggable="answer"
                                dnd-moved="q.answers.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-disable-if="!electionEditable()"
                                ng-class="{editable: electionEditable()}"
                                av-question-option-simple>
                              </div>
                            </div>
                          </div>
                          <div
                            dnd-list="q.answers"
                            ng-switch-default
                            dnd-drop="recalculateAnswerIds(item, index)">
                            <div
                              ng-repeat="answer in q.answers">
                              <div
                                dnd-draggable="answer"
                                dnd-moved="q.answers.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-disable-if="!electionEditable()"
                                ng-class="{editable: electionEditable()}"
                                av-question-option-details>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row" ng-if="electionEditable()">
                            <div class="col-sm-12 newopt">
                                <div class="input-group">
                                  <input type="text" id="newopt" class="form-control" ng-enter="addOption($index)" ng-i18next="[placeholder]avAdmin.questions.newopt"/>
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="addOption($index)">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                  </span>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
            <!-- endof candidates -->

        </div>
    </form>
</div>
