<div>
    <h2 ng-i18next>avAdmin.sidebar.auth</h2>

    <!-- Auth method -->
    <div
      av-abstract-setting
      short-value="{{ election.census.auth_method }}"
      title="avAdmin.auth.auth"
      for="auth"
      description=""
      help-path="election/auth-method/">
                <div
                    class="radio"
                    ng-repeat="a in auth"
                    for="auth_{{a}}"
                    ng-class="{'selected': election.census.auth_method === a, 'disabled': !electionEditable()}">
                        <label>
                            <input
                               type="radio"
                               id="auth_{{a}}"
                               name="reg"
                               ng-value="a"
                               ng-disabled="!electionEditable()"
                               ng-model="election.census.auth_method" />
                            <span ng-i18next="avAdmin.auth.auths.{{ a }}" >
                            </span>
                        </label>
                  </div>
    </div>

    <!-- SMS conf -->
    <div ng-if="election.census.auth_method in ['sms', 'sms-otp']">
        <div
          av-abstract-setting
          short-value="{{ election.census.config.msg }}"
          title="avAdmin.auth.sms"
          for="auth"
          description=""
          help-path="election/auth-sms/">
                    <p class="text-muted" ng-i18next> avAdmin.auth.smstemp </p>
                    <textarea class="form-control" ng-model="election.census.config.msg"></textarea>
        </div>
    </div>

    <!-- Email conf -->
    <div ng-if="election.census.auth_method in ['email', 'email-otp']">
        <div
          av-abstract-setting
          short-value="{{ election.census.config.subject }}"
          title="avAdmin.auth.emailsub"
          for="email-sub"
          description=""
          help-path="election/auth-email-subject/">
                    <input type="text" id="email-sub" class="form-control" ng-model="election.census.config.subject"/>
        </div>
        <div
          av-abstract-setting
          short-value="{{ election.census.config.msg }}"
          title="avAdmin.auth.email"
          for="email-text"
          description="avAdmin.auth.emailtemp"
          help-path="election/auth-email-email/">
                    <textarea class="form-control" id="email-text" ng-model="election.census.config.msg"></textarea>
        </div>
    </div>

    <button ng-click="goNext(admin.censusConfig())" ng-if="!election.id" class="btn btn-block btn-success" ng-i18next>next</button>
    <button ng-click="goNext({id:election.id})" ng-if="!!election.id" class="btn btn-block btn-success" ng-i18next>next</button>
</div>
