<div class="modal-header dialog-header-warning">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      avAdmin.census.modals.addPersonHeader
    </span>
    <button type="button" class="close pull-right" ng-click="cancel()">×</button>
  </h4>
</div>
<div class="modal-body">
  <p>
    <span ng-i18next>
      avAdmin.census.modals.addPersonBody
    </span>
    <a href="{{helpurl}}" class="learn-more" target="_blank" ng-i18next>
      avAdmin.learnMore
    </a>
  </p>
  <form class="form">
    <div
      class="form-group"
      ng-repeat="ef in election.census.extra_fields">
      <input
        type="text"
        class="form-control"
        ng-if="!ef.autofill && ef.type !== 'date'"
        placeholder="{{ef.name | htmlToText}}"
        ng-model="newcensus[ef.name]"/>

      <div ng-if="ef.type==='date' && !ef.autofill">
        <div avr-date-field label="ef.name | htmlToText" ng-model="newcensus[ef.name]"></div>
      </div>
    </div>
    <div
      av-children-elections
      ng-if="election.children_election_info"
      mode="checkbox"
      children-election-info="{{election.children_election_info}}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()" ng-i18next>
    avAdmin.census.modals.confirmAddPersonButton
  </button>
  <button class="btn btn-cancel" ng-click="cancel()" ng-i18next>
    avCommon.cancel
  </button>
</div>
