<div class="modal-header dialog-header-warning">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      avAdmin.dashboard.modals.changeSocial.header
    </span>
    <button type="button" class="close pull-right" ng-click="cancel()">×</button>
  </h4>
</div>
<div class="modal-body">
  <div class="affix-placeholder"></div>
  <h1 class="h1-title" style="margin-top: 0px;">
    <span ng-i18next>avAdmin.dashboard.modals.changeSocial.title</span>
    <span>
      <button
        type="button"
        aria-expanded="false"
        class="btn btn-success pull-right social-new-button">
        <i class="fa fa-plus"></i>
        <span ng-i18next>avAdmin.dashboard.modals.changeSocial.new</span>
      </button>
    </span>
  </h1>
  <div av-social-item social-item="q" ng-repeat="q in socialConfig"/>
</div>
<div class="modal-footer" style="padding: 5px 0px 0px 0px;">
  <button class="btn btn-success" ng-click="ok()" ng-i18next>
    avAdmin.dashboard.modals.changeSocial.confirmButton
  </button>
  <button class="btn" ng-click="cancel()" ng-i18next>
    avCommon.cancel
  </button>
</div>
