<div class="modal-header dialog-header-warning">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      avAdmin.dashboard.modals.changeSocial.header
    </span>
    <button type="button" class="close pull-right" ng-click="cancel()">×</button>
  </h4>
</div>
<div class="modal-body">
  <div class="affix-placeholder"></div>
  <h1
    av-affix-top-offset="31"
    affix-placeholder=".affix-placeholder">
    <span ng-i18next>avAdmin.dashboard.modals.changeSocial.title</span>
    <button
      type="button"
      aria-expanded="false"
      class="btn btn-success pull-right">
      <i class="fa fa-plus"></i>
      <span ng-i18next>avAdmin.dashboard.modals.changeSocial.new</span>
    </button>
  </h1>
  <div av-social-item social-item="q" ng-repeat="q in socialConfig"/>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()" ng-i18next>
    avAdmin.dashboard.modals.changeSocial.confirmButton
  </button>
  <button class="btn" ng-click="cancel()" ng-i18next>
    avCommon.cancel
  </button>
</div>
