<div avb-busy overlay ng-if="loading && !intally"></div>

<div class="dashboard">
  <div class="container-fluid">
    <div class="dropdown pull-left">
       <span>
         <h2>
          <span ng-i18next>avAdmin.sidebar.dashboard</span>
          <span class="text-gray-light" ng-if="election.title">{{election.title | truncate:45}}</span>
         </h2>
       </span>
    </div>
    <div class="dropdown pull-right actions-div">
      <button
        class="btn btn-success actionbtn ng-scope btn-primary dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <span ng-i18next>avAdmin.dashboard.actions.actionsLabel</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li
          ng-repeat="action in actions"
          ng-class="{'disabled': !action.enableFunc()}">
          <a ng-click="action.actionFunc()">
            <i class="{{action.iconClass}}"></i>
            <span ng-i18next>
              [i18next]avAdmin.dashboard.actions.{{action.i18nString}}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

    <!-- dashboard status bar -->
    <div class="statusbar row text-center">
      <div 
        class="col-custom-14 col-xs-2" 
        ng-class="{true:'text-success', false:'text-muted'}[index > $index]" 
        ng-repeat="status in statuses">
        <div 
          class="stick" 
          ng-class="{'stickini': $first, 'stickend': $last}">
            <i 
              class="fa fa-cog fa-spin fa-sw fa-2x text-warning" 
              ng-if="index == $index && intally">
            </i>
            <i 
              class="fa fa-sw fa-2x fa-check-circle" 
              ng-if="index > $index">
            </i>
            <i 
              class="fa fa-sw fa-2x fa-circle" 
              ng-if="index == $index && !intally">
            </i>
            <i 
              class="fa fa-sw fa-2x fa-circle" 
              ng-if="index < $index">
            </i>
          </div>

          <div 
            class="small" 
            ng-i18next ng-if="index != $index">
            {{ status.name }}
          </div>
          <button 
            ng-click="doActionConfirm($index)" 
            class="actionbtn btn btn-success" 
            ng-disabled="!commands[$index].enableFunc()"
            ng-if="index == $index && nextaction" 
            ng-class="['election-status-action-' + index]">
            <div 
              class="small {{ nextaction }}" 
              ng-i18next>
              {{ nextaction }}
            </div>
            <strong ng-i18next>
              avAdmin.dashboard.donow
            </strong>
          </button>
          <button
            ng-click="doActionConfirm($index)"
            class="actionbtn btn btn-success"
            ng-disabled="!commands[$index].enableFunc()"
            ng-if="getStatusIndex('results_ok') === $index && index === 1 + $index"
          >
            <div 
              class="small" 
              ng-i18next>
              avAdmin.dashboard.calculateAgain
            </div>
          </button>
          <button 
            class="btn btn-warning" 
            ng-if="index == $index && intally">
              <div 
                class="small" 
                ng-i18next="avAdmin.dashboard.doingtally">
              </div>
          </button>
      </div>
    </div>
    <!-- endof dashboard status bar -->

    <div av-admin-alerts></div>

    <!-- election info -->
    <div class="row info">
        <div class="col-sm-4 text-right">
            <div class="block well">
                <strong>{{ election.votes|number }}</strong><br/>
                <span ng-i18next>avAdmin.dashboard.votes</span>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <div class="block well">
                <strong>{{ election.auth.census|number }}</strong><br/>
                <button
                  ng-click="sendAuthCodes()"
                  ng-disabled="perms.val.indexOf('send-auth-all') === -1 && perms.val.indexOf('edit') === -1"
                  class="btn btn-success send-auth pull-left">
                    <i class="fa fa-sw fa-send"></i>
                    <span ng-i18next>
                      avAdmin.dashboard.sendAuthCodes
                    </span>
                </button>
                <span ng-i18next>avAdmin.dashboard.census</span>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <div class="block well">
                <span ng-i18next>avAdmin.dashboard.questions</span>
                <strong>{{ election.questions.length }}</strong><br/>
                <span ng-i18next>avAdmin.dashboard.answers</span>
                <strong>{{ election.answers }}</strong>
            </div>
        </div>
    </div>
    <!-- endof election info -->

    <!-- general info -->
    <div class="row general">
        <div class="col-md-6">

            <div class="well">
                <dl class="dl-horizontal">
                  <dt ng-i18next>avAdmin.dashboard.status</dt>
                  <dd ng-i18next="{{ election.status }}"></dd>
                  <dt ng-i18next>avAdmin.dashboard.authentication</dt>
                  <dd>{{ election.auth.authentication }}</dd>
                  <dt ng-i18next>avAdmin.dashboard.electionid</dt>
                  <dd>{{ election.id }}</dd>
                </dl>
            </div>

            <button
              class="btn btn-block btn-lg btn-success-action" 
              ng-if="nextaction" 
              ng-disabled="!commands[index].enableFunc()"
              ng-i18next="{{ nextaction }}"
              ng-click="doActionConfirm(index)">
            </button>

            <button
              ng-click="duplicateElection()"
              class="btn btn-block btn-lg btn-success"
              ng-i18next>
              avAdmin.dashboard.duplicateElection
            </button>

            <button class="btn btn-block btn-lg btn-warning" ng-if="intally">
                <i class="fa fa-cog fa-spin fa-sw fa-2x"></i><br/>
                <span ng-i18next="avAdmin.dashboard.doingtally"></span>
            </button>
        </div>
        <!-- authorities -->
        <div class="col-md-6">
            <div class="well">
                <h4>
                    <span ng-i18next>avAdmin.dashboard.authorities</span>
                    <span>{{ election.auths.length}}</span>
                </h4>

                <ul class="list-group">
                    <li class="authority list-group-item" ng-repeat="auth in election.auths">
                        <span class="badge" ng-if="auth == election.director"><i class="fa fa-sitemap"></i></span>
                        {{ auth }}
                    </li>
                </ul>
            </div>

            <div class="well text-right">
                <a
                  href="election/{{ election.id }}/public/home"
                  target="_blank"
                  ng-i18next>
                  avAdmin.dashboard.electionPublic
                </a>
                <br/>
                <a
                  href="booth/{{ election.id }}/demo-vote"
                  target="_blank"
                  ng-i18next>
                    avAdmin.dashboard.preview
                </a>
                <!--
                <a href="">Embed election</a>
                -->
            </div>
        </div>
    </div>
    <!-- end of general -->

    <!-- allows to choose which children election to show -->
    <div class="row general">
      <div class="col-md-12">
        <div class="well">
          <h3 
            ng-if="!!election.children_election_info"
            ng-i18next>
            avAdmin.dashboard.chilldrenResultsTitle
          </h3>
          <div
            ng-if="!!election.children_election_info"
            av-children-elections
            mode="toggle-and-callback"
            callback="showResults(electionId)"
            parent-election-id="{{election.id}}"
            children-election-info="election.children_election_info"
            >
          </div>
        </div>
      </div>
    </div>

    <!-- results -->
    <h2 ng-if="resultsElection.results.questions" ng-cloak>
      <span ng-i18next>
        avAdmin.dashboard.results
      </span>

      <div class="btn-group" ng-class="{'open': openDownloadButton}">
        <button
          type="button"
          class="btn btn-xs btn-primary dropdown-toggle"
          data-toggle="dropdown"
          ng-click="toggleDownloadButton()"
          aria-haspopup="true"
          aria-expanded="false">
          <span ng-i18next>
            avAdmin.results.downloadData
          </span>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu download-data-dropdown" role="menu">
          <li>
            <a
              ng-href="{{publicURL}}/{{resultsElection.id}}/{{resultsElection.results.results_dirname}}/ballots.csv"
              download
              target="_blank"
              class="wrap">
              <span ng-i18next>
                avAdmin.results.downloadBallotsCsv
              </span>
            </a>
          </li>
          <li>
            <a
              ng-href="{{publicURL}}/{{resultsElection.id}}/{{resultsElection.results.results_dirname}}/ballots.json"
              download
              target="_blank"
              class="wrap">
              <span ng-i18next>
                avAdmin.results.downloadBallotsJson
              </span>
            </a>
          </li>

          <li>
            <a
              ng-href="{{publicURL}}/{{resultsElection.id}}/{{resultsElection.results.results_dirname}}/{{resultsElection.id}}.results.csv"
              download
              target="_blank"
              class="wrap">
              <span ng-i18next>
                avAdmin.results.downloadResultsCsv
              </span>
            </a>
          </li>

          <li>
            <a
              ng-href="{{publicURL}}/{{resultsElection.id}}/{{resultsElection.results.results_dirname}}/{{resultsElection.id}}.results.json"
              download
              target="_blank"
              class="wrap">
              <span ng-i18next>
                avAdmin.results.downloadResultsJson
              </span>
            </a>
          </li>

          <li>
            <a
              ng-href="{{publicURL}}/{{resultsElection.id}}/{{resultsElection.results.results_dirname}}/{{resultsElection.id}}.results.pretty"
              download
              target="_blank"
              class="wrap">
              <span ng-i18next>
                avAdmin.results.downloadResultsPretty
              </span>
            </a>
          </li>

          <li>
            <a
              ng-href="{{publicURL}}/{{resultsElection.id}}/{{resultsElection.results.results_dirname}}/{{resultsElection.id}}.results.pdf"
              download
              target="_blank"
              class="wrap">
              <span ng-i18next>
                avAdmin.results.downloadResultsPDF
              </span>
            </a>
          </li>
        </ul>
      </div>
    </h2>
    <div class="well question-result" ng-repeat="q in resultsElection.results.questions">
        <div class="row">
            <div class="col-md-7">
                <h2 class="question-title" ng-bind-html="q.title"></h2>
            </div>
            <div class="col-md-5">
                <dl class="dl-horizontal">
                  <dt>{{ (q.totals.valid_votes + q.totals.null_votes + q.totals.blank_votes) }}</dt>
                  <dd ng-i18next>avAdmin.dashboard.votes</dd>
                  <dt></dt>
                  <dd>--</dd>
                  <dt>{{ q.totals.valid_votes|number }}</dt>
                  <dd>
                      <span ng-i18next>avAdmin.dashboard.optiosequent</span>
                      <span>({{ percentVotes(q.totals.valid_votes, q, "over-all") }})</span>
                  </dd>
                  <dt>{{ q.totals.blank_votes }}</dt>
                  <dd>
                      <span ng-i18next>avAdmin.dashboard.blankvotes</span>
                      <span>({{ percentVotes(q.totals.blank_votes, q, "over-all") }})</span>
                  </dd>
                  <dt>{{ q.totals.null_votes }}</dt>
                  <dd>
                      <span ng-i18next>avAdmin.dashboard.nullvotes</span>
                      <span>({{ percentVotes(q.totals.null_votes, q, "over-all") }})</span>
                  </dd>
                </dl>
            </div>
        </div>

        <table role="table" class="table">
            <tr class="text-success">
                <th></th>
                <th ng-i18next>avAdmin.dashboard.option</th>
                <th ng-i18next>avAdmin.dashboard.votes</th>
                <th></th>
                <th ng-i18next>avAdmin.dashboard.winner</th>
            </tr>
            <tr ng-repeat="an in q.answers|orderBy:'-total_count'">
                <td>{{ $index + 1 }}</td>
                <td>
                  <span  ng-bind-html="an.text"></span>
                  <span 
                    ng-if="isWriteInResult(an)"
                    ng-i18next="avAdmin.dashboard.writeInResults">
                  </span>
                </td>
                <td>{{ an.total_count|number }}</td>
                <td>{{ percentVotes(an.total_count, q) }}</td>
                <td ng-if="an.winner_position === 0 || an.winner_position">
                  {{ an.winner_position + 1}}
                </td>
                <td ng-if="!(an.winner_position === 0 || an.winner_position)">--</td>
            </tr>
        </table>
    </div>
    <!-- endof results -->
</div>
