<div class="modal-header dialog-header-warning login-trustee-ceremony-modal">
    <span class="title" ng-i18next>
        [i18next]({trustee_id: trusteeId, step: currentStep, total: numSteps})avAdmin.dashboard.modals.keysCeremonies.loginTrustee.header
    </span>
</div>

<div class="modal-body login-trustee-ceremony-modal">
    <div
      ng-repeat="field in login_fields"
      avr-field
      index="{{$index+1}}"
      ng-if="field.steps === undefined || field.steps.indexOf(currentFormStep) !== -1">
    </div>

    <!-- Show errors if any -->
    <div class="text-danger padding-bottom-sm" ng-if="error">
      {{error}}
    </div>
</div>

<div class="modal-footer login-trustee-ceremony-modal">
    <button class="btn btn-success" ng-click="login()" ng-i18next>
        avAdmin.dashboard.modals.keysCeremonies.loginTrustee.loginButton
    </button>
</div>
