<div ng-if="show" class="chart">
<canvas class="chart chart-bar" chart-data="data" chart-labels="labels" 
    chart-series="series" chart-click="onClick" chart-options="options"></canvas>
    <div class="election-checkboxes">
        <div class="checkbox-container" ng-repeat="title in seriesBase track by $index">
            <input
            type="checkbox"
            id="enable-election-graph-{{$index}}"
            ng-model="selectedSeries[$index]" />
            <label for="enable-election-graph-{{$index}}">
                {{seriesBase[$index]}}
            </label>
        </div>
        <div class="time-selector-container">
            <label for="time-basis">Choose a time basis:</label>
            <select name="time-basis" id="time-basis" ng-model="timeBasis.value">
              <option value="auto">Auto</option>
              <option value="hour">Hour</option>
              <option value="day">Day</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
        </div>
    </div>
</div>