<div class="social-item">
  <!-- title, delete button, and stuff -->
  <div class="row short q-name" ng-click="toggleItem($index)">
      <div class="col-sm-10">
          <span
            class="glyphicon glyphicon-chevron-down"
            ng-if="!q.active"
            aria-hidden="true">
          </span>
          <span
            class="glyphicon glyphicon-chevron-up"
            ng-if="q.active"
            aria-hidden="true">
          </span>
          {{ (q.button_text + (( q.button_text.length > 0 && q.social_message.length > 0 )? ' - ' : '') + q.social_message) | truncate:200 }}
      </div>
      <div class="col-sm-2 text-right buttons">
          <i class="fa fa-times fa-sw" ng-click="delItem($index)"></i>
      </div>
  </div>
  <!-- social item form -->
  <form 
    class="row form form-horizontal sform"
    role="form"
    name="sform{{$index}}"
    ng-if="q.active"
  >
    <div class="col-xs-12">

        <!-- list of social networks -->
        <div class="form-group">
            <label 
              class="col-sm-2 control-label"
              for="socialRadio"
              ng-i18next="avAdmin.dashboard.modals.changeSocial.socialNetworkLabel"
            >
            </label>
            <div class="col-sm-10">
                <div 
                  class="radio"
                  ng-repeat="o in socialNetList"
                >
                    <label>
                        <input
                          type="radio"
                          name="socialRadio"
                          value="{{ o.name }}"
                          ng-model="q.network"
                        />
                        <span>
                          <img
                            class="social-radio-img"
                            src="{{ o.logo_url }}"
                          />
                        </span>
                        <span>
                          {{ o.name }}
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <!-- text that appears on the url -->
        <div class="form-group">
            <label 
              class="col-sm-2 control-label"
              for="buttonTex"
              ng-i18next="avAdmin.dashboard.modals.changeSocial.buttonTextLabel"
            >
            </label>
            <div class="col-sm-10">
                <textarea
                  id="buttonText"
                  class="form-control"
                  ng-model="q.button_text"
                  ng-i18next="[placeholder]avAdmin.dashboard.modals.changeSocial.buttonTextPlaceholder"
                >
                </textarea>
            </div>
        </div>

        <!-- text to be shared on social networks -->
        <div class="form-group" ng-if="'Facebook' !== q.network">
            <label 
              class="col-sm-2 control-label"
              for="socialMessage"
              ng-i18next="avAdmin.dashboard.modals.changeSocial.socialMessageLabel"
            >
            </label>
            <div class="col-sm-10">
                <textarea
                  id="socialMessage"
                  class="form-control"
                  ng-model="q.social_message"
                  ng-i18next="[placeholder]avAdmin.dashboard.modals.changeSocial.socialMessagePlaceholder"
                >
                </textarea>
            </div>
        </div>

        <!-- url to be shared on social networks -->
        <div class="form-group" ng-if="'Facebook' === q.network">
            <label 
              class="col-sm-2 control-label"
              for="socialMessage"
              ng-i18next="avAdmin.dashboard.modals.changeSocial.socialUrlLabel"
            >
            </label>
            <div class="col-sm-10">
                <input
                  id="socialMessage"
                  class="form-control"
                  ng-model="q.social_message"
                  ng-i18next="[placeholder]avAdmin.dashboard.modals.changeSocial.socialUrlPlaceholder"
                >
                </input>
            </div>
        </div>

    </div>
  </form>
</div>