<div>
  <h2 ng-i18next>avAdmin.sidebar.tasks</h2>

  <p class="text-muted">
    <span ng-i18next>avAdmin.tasks.intro</span>
  </p>

  <div av-admin-alerts></div>

  <div class="affix-placeholder"></div>
  <h4
    class="header-block"
    av-affix-top-offset="50"
    affix-placeholder=".affix-placeholder"
  >
    <span
      class="glyphicon glyphicon-chevron-right"
      aria-hidden="true"
    ></span>
    <span ng-i18next>avAdmin.tasks.manage</span>

    <button
      class="btn btn-default"
      ng-class="{disabled: reloading}"
      ng-click="reload()"
    >
      <i class="fa fa-refresh"></i>
    </button>

    <div class="btn-group pull-right">
      <button
        type="button"
        class="btn btn-success dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <span ng-i18next>avAdmin.tasks.actionsDropdown</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li
          ng-repeat="command in commands"
          ng-class="{'disabled': !command.enableFunc()}"
        >
          <a ng-click="command.actionFunc()">
            <i class="{{command.iconClass}}"></i>
            <span ng-i18next>
              avAdmin.tasks.commands.{{command.i18nString}}.actionName
            </span>
          </a>
        </li>
      </ul>
    </div>
  </h4>
  <table
    class="table data-table"
    infinite-scroll="loadMore()"
    infinite-scroll-distance="0"
  >
    <thead>
      <tr>
        <th class="small-col text-right id">
          <span ng-i18next>avAdmin.tasks.table.id</span>
        </th>
        <th class="text-right name">
          <span ng-i18next>avAdmin.tasks.table.name</span>
        </th>
        <th class="small-col text-right last-update">
          <span ng-i18next>avAdmin.tasks.table.lastUpdate</span>
        </th>
        <th class="small-col text-right status">
          <span ng-i18next>avAdmin.tasks.table.status</span>
        </th>
        <th class="small-col text-right actions">
          <span ng-i18next>avAdmin.tasks.actionsDropdown</span>
        </th>
      </tr>
    </thead>

    <!-- if empty (no tasks yet) -->
    <tbody class="empty" ng-if="!loading && data.length === 0">
      <tr>
        <td
          class="wide text-muted"
          colspan="4"
          ng-i18next
        >
          [html]avAdmin.tasks.table.empty
        </td>
      </tr>
    </tbody>

    <!-- if loading -->
    <tbody class="loading" ng-if="loading">
      <tr>
        <td
          class="wide text-muted"
          colspan="4"
        >
          <i class="fa fa-cog fa-spin fa-sw"></i>
          <span ng-i18next>loading</span>
        </td>
      </tr>
    </tbody>

    <!-- else, list tasks -->
    <tbody ng-if="!loading && data.length > 0">
      <tr ng-repeat="item in data">
        <td class="small-col text-right id">
          {{ item.id }}
        </td>
        <td class="text-right name">
          {{ item.name }}
        </td>
        <td class="text-right last-update">
          <span
            ng-if="item.metadata.last_update"
            am-time-ago="item.metadata.last_update"
            tooltip="{{item.metadata.last_update | amDateFormat:'LLLL'}}"
            tooltip-placement="right"
            popover-trigger="mouseenter">
          </span>
          <span ng-if="!item.metadata.last_update">-</span>
        </td>
        <td class="small-col text-right status">
          <div
          class="label"
          ng-class="{
            'label-info': (
              item.status === 'created' ||
              item.status === 'pending'
            ),
            'label-warning': (
              item.status === 'cancelling' ||
              item.status === 'running'
            ),
            'label-danger': (
              item.status === 'cancelled' ||
              item.status === 'timedout' ||
              item.status === 'error'
            ),
            'label-success': item.status === 'success'
          }"
        >{{ item.status }}</div>
        </td>
        <td class="small-col actions text-right">
          <div class="btn-group pull-right">
            <button
              type="button"
              class="btn btn-success dropdown-toggle"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <span ng-i18next>avAdmin.tasks.actionsDropdown</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                ng-repeat="command in rowCommands"
                ng-class="{'disabled': !command.enableFunc(item)}"
              >
                <a ng-click="command.actionFunc(item)">
                  <i class="{{command.iconClass}}">
                  </i>
                  <span ng-i18next>
                    avAdmin.tasks.commands.{{command.i18nString}}.actionName
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
