<div class="modal-header dialog-header-warning view-task-logs-modal">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      avAdmin.tasks.commands.viewTaskLogs.header
    </span>
    <button
      type="button"
      class="close pull-right"
      ng-click="close()"
    >×</button>
  </h4>
</div>
<div class="modal-body view-task-logs-modal">
  <div av-admin-alerts></div>
  <div
    accordion
    close-others="false"
  >
    <div
      accordion-group
      class="metadata-group"
      is-open="isOpen.metadata"
    >
      <div
        accordion-heading
      >
        <span
          class="glyphicon"
          ng-class="{
            'glyphicon-chevron-down': isOpen.metadata,
            'glyphicon-chevron-right': !isOpen.metadata
          }"
        ></span>
        <span ng-i18next>
          avAdmin.tasks.commands.viewTaskLogs.metadata
        </span>
      </div>
      <table class="table table-condensed table-hover">
        <tbody>
          <tr class="first">
            <td class="metadata-key" ng-i18next>avAdmin.tasks.table.id</td>
            <td class="metadata-value">{{task.id}}</td>
          </tr>
          <tr>
            <td class="metadata-key" ng-i18next>avAdmin.tasks.table.name</td>
            <td class="metadata-value">{{task.name}}</td>
          </tr>
          <tr>
            <td class="metadata-key" ng-i18next>avAdmin.tasks.table.status</td>
            <td class="metadata-value">{{task.status}}</td>
          </tr>
          <tr ng-repeat="(metadataKey, metadataValue) in task.metadata">
            <td class="metadata-key">{{metadataKey}}</td>
            <td class="metadata-value">{{metadataValue}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div accordion-group class="console-group" is-open="isOpen.console">
      <div
        accordion-heading
      >
        <span
          class="glyphicon"
          ng-class="{
            'glyphicon-chevron-down': isOpen.console,
            'glyphicon-chevron-right': !isOpen.console
          }"
        ></span>
        <span ng-i18next>
          avAdmin.tasks.commands.viewTaskLogs.console
        </span>
      </div>
      <div class="console tomorrow-night-eighties-ansi-theme">
        <div
          class="console-logs"
          ng-bind-html="logs"
          ng-if="!!logs && logs.length > 0"
        ></div>
        <div
          class="console-logs empty"
          ng-if="!logs || logs.length === 0"
          ng-i18next
        >avAdmin.tasks.commands.viewTaskLogs.emptyLogs</div>
        <div class="end-marker"></div>
      </div>
      <form class="autoscroll-form">
        <div class="autoscroll checkbox">
          <label>
            <input
              type="checkbox"
              ng-model="autoscroll"
            />
            <span
              class="autoscroll-span"
              ng-i18next="avAdmin.tasks.commands.viewTaskLogs.autoscrollLabel"
            ></span>
          </label>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
