<div class="modal-header dialog-header-warning">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      avAdmin.ballotBox.modals.checkingBallotBox.header
    </span>
  </h4>
</div>
<div class="modal-body" ng-switch="state">
  <p ng-switch-when="checking-existing|has-existing|creating|success">
    <span class="text-info" ng-i18next>
      avAdmin.ballotBox.modals.checkingBallotBox.checkingExisting
    </span>
  </p>
  <p class="text-error" ng-switch-when="has-existing">
    <span ng-i18next>
      avAdmin.ballotBox.modals.checkingBallotBox.hasExisting
    </span>
    <span ng-repeat="obj in existingBoxes">{{obj.name}}, </span>
  <p class="text-error" ng-switch-when="error-checking-existing">
    <span ng-i18next>
      avAdmin.ballotBox.modals.checkingBallotBox.errorCheckingExisting
    </span>
    <span>{{errorCheckingExisting}}</span>
  </p>
  <p class="text-info" ng-switch-when="creating|success" ng-if="createdBoxes.length > 0">
    <span ng-i18next>
      avAdmin.ballotBox.modals.checkingBallotBox.creatingBoxes
    </span>
    <span ng-repeat="name in createdBoxes">{{name}}, </span>
  </p>
  <p class="text-error" ng-switch-when="creating" ng-if="errorCreatingBoxes.length > 0">
    <span ng-i18next>
      avAdmin.ballotBox.modals.checkingBallotBox.errorCreatingBoxes
    </span>
    <span ng-repeat="error in errorCreatingBoxes">{{error}}, </span>
  </p>
  <p class="text-success" ng-switch-when="success">
    <span ng-i18next>
      avAdmin.ballotBox.modals.checkingBallotBox.success
    </span>
  </p>
</div>
<div class="modal-footer">
  <button
    class="btn btn-success"
    ng-click="ok()"
    ng-i18next>
    avAdmin.ballotBox.modals.checkingBallotBox.button
  </button>
</div>
