<div>
    <div class="container-fluid elbasic-container">
      <div class="pull-left">
        <h2 ng-i18next>avAdmin.sidebar.basic</h2>
      </div>
      <div class="pull-right">
        <button
          class="btn btn-success btn-social ng-scope btn-primary"
          type="button"
          ng-i18next="avAdmin.dashboard.actions.changeSocial"
          ng-disabled="!allow_social_edit"
          ng-click="openSocialModal()"
        >
        </button>
      </div>
    </div>

    <p class="text-muted" ng-i18next>avAdmin.basic.intro</p>

    <form role="form" class="form form-horizontal" name="elbasic_form">
      <!-- title -->
      <div
        av-abstract-setting
        short-value="{{ election.title }}"
        is-disabled="{{ !electionEditable() }}"
        for="title"
        title="avAdmin.basic.title.label"
        description="avAdmin.basic.title.placeholder"
        help-path="election/title/">
          <input
            id="title"
            class="form-control"
            type="text"
            ng-disabled="!electionEditable()"
            ng-i18next="[placeholder]avAdmin.basic.title.placeholder"
            ng-model="election.title"/>
      </div>

      <!-- description -->
      <div
        av-abstract-setting
        short-value="{{ election.description }}"
        is-disabled="{{ !electionEditable() }}"
        title="avAdmin.basic.description.label"
        for="desc"
        description="avAdmin.basic.description.placeholder"
        help-path="election/description/">
          <textarea
            id="desc"
            class="form-control"
            ng-disabled="!electionEditable()"
            ng-i18next="[placeholder]avAdmin.basic.description.placeholder"
            ng-model="election.description"></textarea>
      </div>

      <!-- auths -->
      <!-- TODO, currently fixed auths -->

      <!-- layout -->
      <div
        av-abstract-setting
        short-value="{{ election.layout }}"
        is-disabled="{{ !electionEditable() }}"
        title="avAdmin.basic.layout.label"
        for="layout"
        class="hidden"
        description="avAdmin.basic.layout.placeholder"
        help-path="election/layout/">
          <div class="radio" ng-repeat="o in layouts">
              <label>
                  <input
                    type="radio"
                    name="layout"
                    ng-disabled="!electionEditable()"
                    value="{{ o }}"
                    ng-model="election.layout"/>
                  <span ng-i18next="avAdmin.basic.layouts.{{ o }}"></span>
              </label>
          </div>
      </div>

      <!-- theme -->
      <div
        av-abstract-setting
        short-value="{{ election.presentation.theme }}"
        is-disabled="{{ !electionEditable() }}"
        title="avAdmin.basic.theme.label"
        for="theme"
        class="hidden"
        description="avAdmin.basic.theme.placeholder"
        help-path="election/theme/">
          <div class="radio" ng-repeat="o in themes">
              <label>
                  <input
                    type="radio"
                    name="theme"
                    ng-disabled="!electionEditable()"
                    value="{{ o }}"
                    ng-model="election.presentation.theme"/>
                  <span ng-i18next="avAdmin.basic.themes.{{ o }}"></span>
              </label>
          </div>
      </div>

      <!-- logo url -->
      <div
        av-abstract-setting
        short-value="{{ election.logo_url }}"
        is-disabled="{{ !electionEditable() }}"
        title="avAdmin.basic.logo_url.label"
        for="logo"
        description="avAdmin.basic.logo_url.placeholder"
        help-path="election/logo-url/">
          <input
            id="logo"
            class="form-control"
            type="text"
            ng-disabled="!electionEditable()"
            ng-i18next="[placeholder]avAdmin.basic.logo_url.placeholder"
            ng-model="election.logo_url"/>
      </div>

      <!-- number of revotes -->
      <div
        av-abstract-setting
        short-value="{{ election.num_successful_logins_allowed }}"
        is-disabled="{{ !electionEditable() }}"
        title="avAdmin.basic.num_successful_logins_allowed.label"
        for="num_logins"
        description="avAdmin.basic.num_successful_logins_allowed.placeholder"
        help-path="election/num-revotes/">
          <div class="col-xs-5"></div>
          <div class="input-group col-xs-2">
            <span class="input-group-btn">
              <button
                class="btn btn-default"
                ng-disabled="!electionEditable()"
                type="button"
                ng-click="incLogins(-1)">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
            </span>
            <input
              type="text"
              name="max_num_logins"
              min=1 step=1
              class="form-control"
              ng-disabled="!electionEditable()"
              ng-model="election.num_successful_logins_allowed"
              ui-keypress="{
                37: 'incLogins(-1, $event)',
                38: 'incLogins(1, $event)',
                39: 'incLogins(1, $event)',
                40: 'incLogins(-1, $event)'
              }"
              ui-validate="{
                'input': 'validateNumLogins($value)',
                'min': '$value >= 0'}"
              ui-validate-watch="'election.num_successful_logins_allowed'"
              required/>
            <span class="input-group-btn">
              <button
                class="btn btn-default"
                ng-disabled="!electionEditable()"
                type="button"
                ng-click="incLogins(1)">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </span>
          </div>
          <div class="col-xs-5"></div>
          <div class="col-xs-12 input-error">
            <span
              class="error text-brand-danger"
              ng-show="!!elbasic_form.max_num_logins.$error.input"
              ng-i18next>
              [i18next]({num_successful_logins_allowed: election.num_successful_logins_allowed})avAdmin.basic.num_successful_logins_allowed.inputError
            </span>
            <span
              class="error text-brand-danger"
              ng-show="!!elbasic_form.max_num_logins.$error.min"
              ng-i18next>
              [i18next]({num_successful_logins_allowed: election.num_successful_logins_allowed})avAdmin.basic.num_successful_logins_allowed.minError
            </span>
          </div>
      </div>

      <button ng-click="goNext({id:election.id})" class="btn btn-block btn-success" ng-i18next>next</button>
    </form>
</div>
