<div>
    <div class="container-fluid elbasic-container">
      <div class="pull-left">
        <h2 ng-i18next>avAdmin.sidebar.basic</h2>
      </div>
      <div class="pull-right">
        <button
          class="btn btn-success btn-social ng-scope btn-primary"
          type="button"
          ng-i18next="avAdmin.dashboard.actions.changeSocial"
          ng-disabled="!allow_social_edit"
          ng-click="openSocialModal()"
        >
        </button>
      </div>
    </div>
    <av-abstract-setting>
      <p>hello</p>
    </av-abstract-setting>

    <p class="text-muted" ng-i18next>avAdmin.basic.intro</p>

    <form role="form" class="form form-horizontal" name="elbasic_form">
        <!-- title -->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="title" ng-i18next="avAdmin.basic.title.label"></label>
            <div class="col-sm-10">
                <input
                  id="title"
                  class="form-control"
                  type="text"
                  ng-disabled="!electionEditable()"
                  ng-i18next="[placeholder]avAdmin.basic.title.placeholder"
                  ng-model="election.title"/>
            </div>
        </div>

        <!-- description -->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="desc" ng-i18next="avAdmin.basic.description.label"></label>
            <div class="col-sm-10">
                <textarea
                  id="desc"
                  class="form-control"
                  ng-disabled="!electionEditable()"
                  ng-i18next="[placeholder]avAdmin.basic.description.placeholder"
                  ng-model="election.description"></textarea>
            </div>
        </div>

        <!-- auths -->
        <!-- TODO, currently fixed auths -->

        <!-- layout -->
        <div class="form-group hidden">
            <label class="col-sm-2 control-label" for="layout" ng-i18next="avAdmin.basic.layout.label"></label>
            <div class="col-sm-10">
                <p class="text-muted" ng-i18next>
                    avAdmin.basic.layout.placeholder
                </p>
                <div class="radio" ng-repeat="o in layouts">
                    <label>
                        <input
                          type="radio"
                          name="layout"
                          ng-disabled="!electionEditable()"
                          value="{{ o }}"
                          ng-model="election.layout"/>
                        <span ng-i18next="avAdmin.basic.layouts.{{ o }}"></span>
                    </label>
                </div>
            </div>
        </div>

        <!-- theme -->
        <div class="form-group hidden">
            <label class="col-sm-2 control-label" for="theme" ng-i18next="avAdmin.basic.theme.label"></label>
            <div class="col-sm-10">
                <p class="text-muted" ng-i18next>
                    avAdmin.basic.theme.placeholder
                </p>
                <div class="radio" ng-repeat="o in themes">
                    <label>
                        <input
                          type="radio"
                          name="theme"
                          ng-disabled="!electionEditable()"
                          value="{{ o }}"
                          ng-model="election.presentation.theme"/>
                        <span ng-i18next="avAdmin.basic.themes.{{ o }}"></span>
                    </label>
                </div>
            </div>
        </div>

        <!-- logo url -->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="logo" ng-i18next="avAdmin.basic.logo_url.label"></label>
            <div class="col-sm-10">
                <textarea
                  id="logo"
                  class="form-control"
                  ng-disabled="!electionEditable()"
                  ng-i18next="[placeholder]avAdmin.basic.logo_url.placeholder"
                  ng-model="election.logo_url"></textarea>
            </div>
        </div>

        <!-- number of revotes -->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="num_logins" ng-i18next>avAdmin.basic.num_successful_logins_allowed.label</label>
            <div class="col-sm-10">
                <p class="text-muted" ng-i18next>avAdmin.basic.num_successful_logins_allowed.placeholder</p>
                <div class="input-group col-xs-2">
                  <span class="input-group-btn">
                    <button
                      class="btn btn-default"
                      ng-disabled="!electionEditable()"
                      type="button"
                      ng-click="incLogins(-1)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                  </span>
                  <input
                    type="text"
                    name="max_num_logins"
                    min=1 step=1
                    class="form-control"
                    ng-disabled="!electionEditable()"
                    ng-model="election.num_successful_logins_allowed"
                    ui-keypress="{
                      37: 'incLogins(-1, $event)',
                      38: 'incLogins(1, $event)',
                      39: 'incLogins(1, $event)',
                      40: 'incLogins(-1, $event)'
                    }"
                    ui-validate="{
                      'input': 'validateNumLogins($value)',
                      'min': '$value >= 0'}"
                    ui-validate-watch="'election.num_successful_logins_allowed'"
                    required/>
                  <span class="input-group-btn">
                    <button
                      class="btn btn-default"
                      ng-disabled="!electionEditable()"
                      type="button"
                      ng-click="incLogins(1)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </span>
                </div>
                <div class="col-xs-10 input-error">
                  <span
                    class="error text-brand-danger"
                    ng-show="!!elbasic_form.max_num_logins.$error.input"
                    ng-i18next>
                    [i18next]({num_successful_logins_allowed: election.num_successful_logins_allowed})avAdmin.basic.num_successful_logins_allowed.inputError
                  </span>
                  <span
                    class="error text-brand-danger"
                    ng-show="!!elbasic_form.max_num_logins.$error.min"
                    ng-i18next>
                    [i18next]({num_successful_logins_allowed: election.num_successful_logins_allowed})avAdmin.basic.num_successful_logins_allowed.minError
                  </span>
                </div>
            </div>
        </div>

        <button ng-click="goNext({id:election.id})" class="btn btn-block btn-success" ng-i18next>next</button>
    </form>
</div>
