<div class="abstract-setting">
  <div class="rower abstract-borders">
    <div class="col-sm-6 gray-back">
      <div class="rower sides-padding top-padding">
        <label class="title top-padding" ng-i18next>
        {{ title }}
        </label>
      </div>
      <div class="rower sides-padding">
        <p ng-i18next>
        {{ description }}
        </p>
      </div>
    </div>
    <div class="col-sm-6 abstract-widget abs-border-left top-padding" id="widget1"></div>
  </div>
  <div
    class="rower top-padding bottom-padding sides-padding abs-border-left abs-border-right abs-border-bottom">
    <div class="col-sm-12 input-group">
        <span class="input-group-btn">
          <button
            class="pull-right btn btn-help"
            type="button"
            ng-click="toggleHelp()">
              <span>help</span>
          </button>
        </span>
    </div>
  </div>
  <div
    class="rower top-padding bottom-padding abs-border-left abs-border-right abs-border-bottom"
    ng-if="!!showHelp">
    <div class="col-sm-12">
       <div av-plugin-html ng-bind-html="html"></div>
    </div>
  </div>
</div>
